{% extends "@EasyAdmin/page/content.html.twig" %}

{% block page_title %}
Locatour car 
{%endblock%}

{%block main %}
Welcome to the admin dashboard 
<br>
<br>
<a href="{{path("pdf_generator")}}" class="btn">Generate PDF</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h4 align="center"> Revenu total de vente de vehicules: 15</h4>








{%endblock%}
